@media (max-width: 500px) { /* Layout for mobile phones */
  main {
    width: 85%;
  }
}

* {box-sizing: border-box;}

/* Body & some general settings */

body {
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 15px;
}

/* Main content */

main {
  background-color: white;
  width: 320px;
  margin: auto;
  padding: 16px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 4px 4px 1em rgba(0, 0, 0, 4.77%);
}

.text {
  margin: 24px 0;
  padding: 0 1rem;
}

/* Text elements */

.text * {margin: 1rem 0;}
.text h1 {
  color: hsl(218, 44%, 22%);
  line-height: 120%;
}
.text p {
  color: hsl(216, 15%, 48%);
  line-height: 140%;
  letter-spacing: 0.2px;
}

/* QR code */

main img {
  max-width: 100%;
  border-radius: 10px;
}